.header {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

    &__nav {
        display: flex;
        align-items: flex-end;
        font-size: 1.6rem;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__menu {
        width: 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;

        &--bar {
            border-top: 3px solid $violet;
            border-radius: 10%;
        }

        @media (min-width: 768px) {
            display: none;
        }

    }
}

.photodali {
    width: 50px;
    margin-bottom: -10px;
}


.ulist {
    display: flex;
    list-style: none;
    gap: 10px;

    &__li {
        &--a {
            color: bisque;
            background-color: $turquise;
            padding: 5px;
            border-radius: 2px;
            text-decoration-line: none;
            text-align: center;
        }

        &--a:hover {
            color: $grey;
        }

        &--a:active {
            color: $violet;
        }

        &--a:after {
            content: "";
        }
    }
}