<header class="header">
    <div class="logo">
        <a href="/home" class="logo-home">
            <figure class="fig">
                <img src="./images/photodali.PNG" alt="dalilogo" class="photodali">
            </figure>
        </a>
    </div>
    <div class="menu">
        <div class="menu__bar"></div>
        <div class="menu__bar"></div>
        <div class="menu__bar"></div>
    </div>
        
    <nav class="header__nav">
        <ul class="ulist">
            <li class="ulist__li">
                <a class="ulist__li--a" href="file:///C:/Users/Angela/Desktop/PROYECTOS/2.Calendario/index.html">Calendar</a>
            </li>
            <li class="ulist__li">
                <a class="ulist__li--a" href="">Journal</a>
            </li>
            <li class="ulist__li">
                <a class="ulist__li--a" href="">Tareas de la semana</a>
            </li>
            <li class="ulist__li">
                <a class="ulist__li--a" href="">Lista de la compra</a>
            </li>
            <li class="ulist__li">
                <a class="ulist__li--a" href="">Menu</a>
            </li>
            <li class="ulist__li">
                <a class="ulist__li--a" href="">Chat</a>
            </li>
            <li class="ulist__li">
                <a class="ulist__li--a" href="">Friends</a>
            </li>
            <li class="ulist__li">
                <a class="ulist__li--a" href="">Travel Map</a>
            </li>
        </ul>
    </nav>
</header>