<main class="main">
    <div class="login">
        <div class="divformlogin">
            <form action="https://formspree.io/f/mayryyll" class="formlogin">
                <p>LOG IN</p>
                <label for="name" class="intro">
                    <span>User:</span>
                    <input type="text" id="name" placeholder="Name Surname">
                </label> <br>
                <label for="nickname" class="intro">
                    <span>Nickname:</span>
                    <input type="text" id="nickname" placeholder="Nickname">
                </label><br>
                <label for="date" class="intro">
                    <span>Date of birth:</span>
                    <input type="date" id="date">
                </label><br>
                <label for="email" class="intro">
                    <span>Email:</span>
                    <input type="email" id="email" placeholder="">
                </label><br>
                <label for="number" class="intro">
                    <span>Phone number:</span>
                    <input type="number" name="number" id="number">
                </label><br>
                <label for="password" class="intro">
                    <span>Create your password</span>
                    <input type="password" name="password" id="password">
                </label>

                <label for="submit" class="intro">
                    <input type="button" value="submit" id="submit">
                </label>
            </form>
        </div>
    </div>
</main>