@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

:root {
    --cream: bisque;
    --turquise: #13a4a4;
    --violet: rgb(168, 98, 200);
    --grey: rgb(139, 128, 147);
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 62.5%;
    font-family: "Lucida Console", Monaco, monospace;
}

.header-logo-nav {
    display: flex;
    justify-content: space-between;
}
.nav-header {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
}

.main-nav {
    list-style-type: none;
    /*font-family: "Lucida Console", Monaco, monospace;*/
    font-size: 1.6rem;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: bisque;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration-line: none;
    display: block;
    text-align: center;
}

.main-nav__item a:hover {
    color: var(--grey);
}

.main-nav__item a:active {
    color: var(--violet);
}

.main-nav__item a::after {
    content: "";
    
}
#photodali {
    width: 60px;
    margin-bottom: -20px;
    margin-top: -5px;
}
@media all and (max-width: 480px) {
    .nav-header {
        display: none;
    }
}

body {
    background-color: #13a4a44f;
}

.main {
    background-image: url(../../public/images/fonddo.png);
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-color: #13a4a4;
    border-style: solid;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.login {
    background-color: rgb(85, 1, 96);
    justify-self: center;
    align-self: center;
    justify-content: center;
    border-color: #13a4a4;
    border-radius: 15px;
    border-style: solid;
    /*width: 83vw;
    height: 60vh;*/
    display: flex;
    align-items: center;
}

.divformlogin {
    display: flex;
    background-color: bisque;
    width: auto;
    height: auto;
    justify-content: space-around;
    border-radius: 10px;
    border-color: rgb(233, 198, 156);
    border-style: solid;
    align-content: center;
}

.formlogin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.6rem;
}


input {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1.6rem;
    border: solid 2px #13a4a4;
    border-radius: 15px;
    background-color: #13a4a44f;
}
